.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 40px;
  height: 40px;
  color: white;
  background: linear-gradient(rgb(225, 70, 70),rgb(68, 68, 219));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 10px;
}
