.definition {
    color: rgb(41, 128, 205);
}

.properties{
    font-size: 15px;
    color: rgb(41, 128, 205);
}
.baap {

    border: 2px solid rgb(5, 210, 5);
    background-color: aqua;
    width: 100%;

}

.beta {
    background-color: yellow;
    color: red;
    width: 50%;
}

/* * {
    margin: 0%;
    padding: 0%;
} */

.container {
    margin: 1px;
    padding: 2px;
    background-color: rgb(20, 202, 226);
    border: 2px solid rgb(0, 0, 0);
    width: 50vw;
    height: 10vh;
}

.cont{
    color: red;
    border: 2px solid black;
    font-size: 20px;
   
}