<<<<<<< HEAD
section {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 4rem;
    align-items: center;
}

button img {
    max-width: 40px;
=======
section {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 4rem;
    align-items: center;
}

button img {
    max-width: 40px;
>>>>>>> 4b0b7a63b307c54ea863a8d1d5c2251f719f3ac8
}